/*Begin imports*/ @import 'mixins'; @import 'placeholders'; @import 'variables'; /*End imports*/

.another-class{
  color:red;
  display: flex;
}


html{
  .nav-menu{
    display: flex;
    color: asdf;
  }
}

